body {
    font-family: Arial, Helvetica, SansSerif;
    text-align: center;
    font-size: 10px;
}

#character-display {
    font-size: 2em;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    height: 2em;
}
#generation-options {
    margin: 0 auto;
}
#generation-options button, #generation-options input {
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    height: 3em;
    padding: 10px;
    text-align: center;
}

#generation-options input {
    padding: 0;
}

.history {
    color: #777777;
    margin: 20px auto;
    padding: 20px;
}

#history-list {
    font-size: 1em;
    list-style: none;
    text-align: center;
}

